
#landing_trailer_wrapper {
	
	border: 0%;
	border-style: hidden;
	background-color: rgba(200,200,200,.0);

}

#landing_trailer_wrapper figure {
	border: 0px;
	border-style: hidden;
}
#landing_trailer_wrapper figure iframe {
	z-index: 0;
}
#top_level_header_navigation_section_wrapper nav.dark {
	z-index: 100;
}
#top_level_header_navigation_section_wrapper nav.dark ul li ul {
	z-index: 100;
}

@media all and (min-width : 320px) and (max-width : 480px), all and (min-device-width : 320px) and (max-device-width : 480px) {
	#top_level_header_branding_section_wrapper {
		position: absolute;
		width: 100%;
		height: 60%;
		top: 0%;
		left: 0%;
		padding: 0%;
		margin: 0%;
		z-index: 100;
	}
	#top_level_header_branding_logo_wrapper {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 15%;
		height: 100%;
		padding: 0%;
		margin: 0%;
	}
	#top_level_header_branding_name {
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: left;
		font-size: 10px;
		padding: 0%;
		margin: 0%;
		top: 0%;
		left: 15%;
	}
	
	.top_level_header_company_name {		
		font-size: 16px;
	}
	.top_level_header_company_name_colored {
		font-size: 16px;
	}
	#company_moto {
		font-size: 13px;
	}
	
	#landing_trailer_wrapper {
		left: 5%;
		width: 200px;
		height: 150px;
		top: 30%;
		padding: 1%;
	}
	
	#portofolio_section nav#filter {
		display: none;
	}

	#portofolio_section nav#filter a {
		display: none;
	}
}	
@media all and (min-width : 740px) and (min-device-width : 740px), all and (max-device-width : 800px) and (min-width : 740px) and (orientation : landscape) {
	#top_level_header_branding_section_wrapper {
		position: absolute;
		width: 70%;
		height: 60%;
		top: 0%;
		left: 0%;
		padding: 0%;
		margin: 0%;
		z-index: 100;
	}
	#top_level_header_branding_logo_wrapper {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 12%;
		height: 100%;
		padding: 0%;
		margin: 0%;
	}
	#top_level_header_branding_name {
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: left;
		padding: 0%;
		margin: 0%;
		top: 0%;
		left: 15%;
	}
	
	#portofolio_section nav#filter {
		display: none;
	}

	#portofolio_section nav#filter a {
		display: none;
	}
}
@media all and (min-width : 980px) and (min-device-width : 980px), all and (min-device-width : 1024px) and (min-width : 1024px) and (orientation : landscape) {
	#top_level_header_branding_section_wrapper {
		position: absolute;
		width: 50%;
		height: 60%;
		top: 0%;
		left: 0%;
		padding: 0%;
		margin: 0%;
		z-index: 100;
	}
	#top_level_header_branding_logo_wrapper {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 12%;
		height: 120%;
		padding: 0%;
		margin: 0%;
	}
	#top_level_header_branding_name {
		position: absolute;
		width: 80%;
		height: 100%;
		text-align: left;
		padding: 0%;
		margin: 0%;
		top: 0%;
		left: 15%;
	}
	
	#top_level_footer_acknowledgement_section {
		position: absolute;
		float: right;
		right: 0%;
		bottom: -20%;
		width: 50%;
	}
	
	#top_level_footer_copyright_section {
		position: absolute;
		float: left;
		left: 1%;
		bottom: -20%;
		width: 30%;
	}
	
	#portofolio_section nav#filter {
		display: none;
	}

	#portofolio_section nav#filter a {
		display: none;
	}
}
@media all and (min-width : 1220px) {

	#top_level_header_branding_section_wrapper {
		position: absolute;
		width: 50%;
		height: 60%;
		top: 0%;
		left: 0%;
		padding: 0%;
		margin: 0%;
		z-index: 100;
	}
	#top_level_header_branding_logo_wrapper {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 12%;
		height: 120%;
		padding: 0%;
		margin: 0%;
	}
	#top_level_header_branding_name {
		position: absolute;
		width: 80%;
		height: 100%;
		text-align: left;
		padding: 0%;
		margin: 0%;
		top: 0%;
		left: 15%;
	}
	
	#top_level_footer_acknowledgement_section {
		position: absolute;
		float: left;
		left: 1%;
		bottom: -20%;
		width: 50%;
	}
	
	#top_level_footer_copyright_section {
		position: absolute;
		float: left;
		left: 1%;
		bottom: 10%;
		width: 30%;
	}
	
	#portofolio_section nav#filter {
		display: none;
	}

	#portofolio_section nav#filter a {
		display: none;
	}
}