
#portfolio_slideshow_wrapper {
	border-radius: 0px;
}

#portfolio_slideshow_social {
	height: 80%;
	top: 5%;
	left: 5%;
	border: 2px dashed rgb(252,180,31);
}

..portfolio_item_caption {
	top: 10%;
}