

#portofolio_slideshow_wrapper {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	padding: 0%;
	margin: 0%;
	background-color: #000;
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, circle farthest-corner, #000000 0%, #505050 200%);

	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, circle farthest-corner, #000000 0%, #505050 200%);

	/* Opera */ 
	background-image: -o-radial-gradient(center, circle farthest-corner, #000000 0%, #505050 200%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #000000), color-stop(2, #505050));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #000000 0%, #505050 200%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(circle farthest-corner at center, #000000 0%, #505050 200%);
	-moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}

#portofolio_slideshow {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0%;
	padding: 0%;
	margin: 0%;
}

article {
	position: fixed;
	display: block;
	top: 1%;
	width: 100%;
	height: 100%;
}

#portofolio_slideshow_header {
	display: inline-block;
	position: absolute;
	width: 5%;
	height: 10%;
	right: 0%;
	top: 0%;
	padding: 0%;
	margin: 0%;
}

#portofolio_slideshow_close {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 5000;
}

#portofolio_slideshow_close img {
	position: relative;
	height: 50px;
	width: 50px;
	padding: 5%;
	margin: 0%;
	left: 0%;
	cursor: pointer;
	z-index: 15000;
}

#portofolio_slideshow_media_wrapper {
	display: block;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	padding: 0%;
	margin: 0%;
}

#portofolio_slideshow_media_figure {
	display: block;
	position: fixed;
	padding: 0%;
	margin: 0%;
	
	width: 100%;
	height: 100%;
}

#portofolio_slideshow_social {
	display: block;
	position: fixed;
	top: 0%;
	width: 12%;
	height: 95%;
	left: 0%;
	padding: 1%;
	margin: 0%;
	background: none transparent;
	border-right: 2px dashed rgb(252,180,31);
}

.portofolio_item_caption {
	display: block;
	position: fixed;
	right: 0%;
	width: 20%;
	top: 15%;
	height: 75%;
	margin: 0%;
	padding: 1%;
}
.portofolio_item_caption p {
	color: #fff;
	width: auto;
	height: auto;
	word-wrap: break-word;
	overflow-y: auto;
	padding: 1%;
	border-left: 2px dashed rgb(252,180,31);
}
#portofolio_item_media_wrapper {
	display: block;
	visibility: hidden;
	position: fixed;
	left: 13%;
	width: 65%;
	height: 100%;
	margin: 0%;
	padding: 0%;
	z-index: 2000;
}

.portofolio_item_media {
	display: block;
	position: fixed;
	padding: 0%;
	margin: 0%;
	-moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
	border: 2px solid rgb(252,180,31);
}
.company_moto {
	color: #fff;
}


@media all and (max-width : 739px), all and (min-device-width : 320px) and (max-device-width : 480px) {
	#portofolio_slideshow_wrapper {
		display: none;
	}
}
/* Tablets (portrait and landscape) ----------- */
@media all and (min-width : 740px) and (min-device-width : 740px), all and (max-device-width : 800px) and (min-width : 740px) and (orientation : landscape) {
	#portofolio_slideshow_header p {
		top: 0%;
	}
	#portofolio_slideshow_header figure a img {
		width: 100px;
		height: 100px;
	}
	#portofolio_slideshow_header figure a img {
		width: 60px;
		height: 60px;
	}
}
/* Ipads, desktops and laptops ----------- */	
@media all and (min-width : 980px) and (min-device-width : 980px), all and (max-device-width : 1024px) and (min-width : 1024px) and (orientation : landscape) {
	#portofolio_slideshow_header p {
		top: -30%;
	}
	#portofolio_slideshow_header figure a img {
		width: 100px;
		height: 100px;
	}
}