.portfolio_item_figure {
	display: block;
	position: relative;
	width: auto;
	height: auto;
	padding: 0%;
	margin: 0%;
}

.portfolio_item_figure header {
	display: block;
	position: relative;
	width: 100%;
	padding: 0%;
	margin: 0%;
}
.portfolio_item_share_social {
	display: none;
	position: relative;
	height: auto;
	width: 85%;
	padding: 0%;
	margin: 0%;
}
.portfolio_item_share_social a {
	display: inline-block;
	position: relative;
	padding: 0%;
	margin: 0%;
}
.portfolio_item_full {
	display: none;
	position: relative;
	float: right;
	width: 16px;
	height: 16px;
	background: url(../img/navbar/tofullscreen.png) no-repeat;
	padding: 1%;
	margin: 0%;
}
.portfolio_item_full:hover {
	cursor: pointer;
}

.portfolio_item_figure article {
	position: relative;
	width: 100%;
	padding: 1%;
	margin: 0%;
}
.portfolio_item_figure article img.portfolio_item_media {
	position: relative;
	width: 100%;
	height: auto;
	padding: 0%;
	margin: 0%;
}

.portfolio_item_figure article div.portfolio_item_media {
	position: relative;
	width: 100%;
	height: auto;
	padding: 0%;
	margin: 0%;
}
.portfolio_item_figure article div.portfolio_item_media iframe {
	position: relative;
	width: 100%;
	height: auto;
	padding: 0%;
	margin: 0%;
}

.portfolio_item_caption {
	display: none;
	position: relative;
	width: 100%;
	height: auto;
	padding: 0%;
	margin: 0%;
	font-style: normal;
	text-align: justify;
	font-weight: normal;
	text-transform: normal;
	color: #000000;
}

.portfolio_item_caption p {
	display: block;
	position: relative;
	padding: 1%;
	margin: 0%;
}

.portfolio_item_figure footer {
	display: block;
	position: relative;
	width: 98%;
	padding: 1%;
	margin: 0%;
}

.portfolio_item_share_counters {
	display: none;
	position: relative;
	width: 98%;
	padding: 0%;
	margin: 0%;
}

.portfolio_item_share_counters a {
	display: inline-block;
	position: relative;
	padding: 0%;
	margin: 0%;
	width: auto;
	height: auto;
}

@media all and (max-width : 739px), all and (min-device-width : 320px) and (max-device-width : 480px) {
	.portfolio_item_full {
		display: none;
	}
}

@media all and (min-width : 740px) and (min-device-width : 740px), all and (max-device-width : 800px) and (min-width : 740px) and (orientation : landscape) {
	.portfolio_item {
		width: 40%;
	}
}

@media all and (min-width : 980px) and (min-device-width : 980px), all and (max-device-width : 1024px) and (min-width : 1024px) and (orientation : landscape) {
	.portfolio_item {
		width: 20%;
	}
}