 {
	FONT-SIZE: 10pt; LINE-HEIGHT: 1.3
}
#topbanner {
	DISPLAY: none
}
#right {
	DISPLAY: none
}
#header {
	DISPLAY: none
}
#search {
	DISPLAY: none
}
#top {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 5% 0px 0px; WIDTH: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.middlecontainer {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5%; WIDTH: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#right {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 5%; WIDTH: auto; PADDING-TOP: 0px; POSITION: static; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	FONT-SIZE: 16pt
}
H2 {
	FONT-SIZE: 14pt
}
H3 {
	FONT-SIZE: 12pt
}
BLOCKQUOTE {
	FONT-STYLE: italic
}
TABLE {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: #aaa 1px solid
}
TABLE THEAD TH {
	VERTICAL-ALIGN: top; BORDER-BOTTOM: #999 1px solid
}
TABLE TFOOT TH {
	VERTICAL-ALIGN: bottom
}
TABLE TBODY TD {
	BORDER-RIGHT: #ccc 1px solid; VERTICAL-ALIGN: top; BORDER-BOTTOM: #999 1px solid
}
.floatleft {
	FLOAT: left; MARGIN-BOTTOM: 10px; MARGIN-RIGHT: 10px; POSITION: relative
}
.floatright {
	FLOAT: right; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 10px; POSITION: relative
}
.note {
	MARGIN: 0pt 20pt 10pt
}
A {
	COLOR: #333; TEXT-DECORATION: none
}

.glossary {
	CURSOR: help; BORDER-BOTTOM: #708090 1px dotted; TEXT-DECORATION: none
}
.highlight {
	BORDER-RIGHT: #666 1px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #666 1px dotted; PADDING-LEFT: 5px; BACKGROUND: #eee; FLOAT: right; PADDING-BOTTOM: 5px; MARGIN: 0px 1em 0px 1em; BORDER-LEFT: #666 1px dotted; WIDTH: 200px; PADDING-TOP: 5px; BORDER-BOTTOM: #666 1px dotted
}

